<?xml version="1.0"?>
<config>
    <modules>
        <Piimega_Test>
            <version>0.1.0</version>
        </Piimega_Test>
    </modules>
    <global>
        <resources>
            <piimega_test_setup>
                <setup>
                    <module>Piimega_Test</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </piimega_test_setup>
        </resources>
    </global>
</config>